body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: right;
    color: white;
}

h1 {
    border-bottom-style: solid;
    border-color: white;
    color: white;
    padding-top: 25px;
}

nav { 
    width: 80%;
    display: inline;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    word-spacing: 25px;
}

p.inset { 
    background-color: grey;
    border-color: #D3D3D3;
    border-style: inset;
    height: 25px;
}

h2 {
    font-family: "agency fb";
    text-align: center;
    padding: 25px;
}

figure {
    display: flex;
    padding: 15px;
}

figcaption { 
    margin-left: 25px;
    margin-top: 100px;
    margin-right: 25px;
    padding: 25px;
    height: 50%;
    font-family: "Arial";
    font-size: 17px;
    background-color: grey;
    color: black;
}

figcaption.second {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    padding: 25px;
    font-family: "Ariel";
    font-size: 17px;
    background-color: grey;
    color: black;
}

img {
    float: left;
    width: 500px;
    height: 400px;
    border-color: #368BC1;
    border-style: solid;
    
}

span.rating {
    display: flex;
    font-style: italic;
}

div.rating {
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    font-family: "Arial";
    font-size: 17px;
    background-color: grey;
    color: black;
}

img.star {
    height: 40px;
    width:  90px;
    border: none;
}

ul {
    line-height: 1.5;
}

li {
    padding: 15px;
}

div.iframe {
    border-top: double;
    border-bottom: double;
    padding: 25px;
}

iframe {
    margin-right: 80px;
    margin-left: 100px;
    width: 1200px;
}