.home-body {
    display: flex;
}

.anchor-box {
    display: block;
    border-right-style: solid;
    border-bottom-style: solid;
    border-color: black;
}

.page-links-header {
    text-align: center;
}

.anchor-list {
    line-height: 60px;
    margin-right: 10px;
}