.offscreen-menu {display: none}

.main-nav {display: flex}

body {
    background-color: #E9DCC9;
    font-family: "Segoe UI Light", "Roboto Thin";
    margin: 0;
    width: fit-content;
}

.nav-icon {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.heading {
    border-bottom: solid;
    display: flex;
    margin-top: 0;
}

.vid {
    padding-bottom: 5%;
    font-size: 1em;
}

#first {
    color: white;
    background-image: url("images/background-imgs/StachFilms-logo.png");
    background-color: black;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    padding-top: 11.7%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}



#second {
    margin-left: .7%;
}

.nav {
    display: flex;
    border-bottom: solid;
}

/*.titles {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    !*border: black solid 1px;*!*/
/*    border: none;*/
/*    padding: 25px;*/
/*    scale: 100%;*/
/*    background-color: #E9DCC9;*/
/*    outline: 0;*/
/*    background: none;*/
/*    z-index: 1;*/
/*    cursor: pointer;*/
/*    -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
/*}*/

/*.titles:hover {*/
/*    color: white;*/
/*}*/

/*.titles:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    background-image: url("images/background-imgs/allegheny-forest.jpg");*/
/*    background-size: 80%;*/
/*    background-position-y: -100px;*/
/*    background-repeat: no-repeat;*/
/*    bottom: 0;*/
/*    left: 12%;*/
/*    right: 0;*/
/*    top: 100%;*/
/*    z-index: -1;*/
/*    -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
/*}*/

/*.titles:hover:before {*/
/*    top: 0;*/
/*}*/

ul {
    list-style-type: none;
    margin: 0;
}

.nav-list {
    display: inline;
    margin: 20px;
    font-size: 15px;
    color: black;
    padding: 10px;
}

.list-contact {
    display: inline;
    margin-top: 20px;
}

.contacts {
    display: flex;
    margin-left: auto;
    margin-right: 1%;
}

.linkedin {
    display: inline;
    margin-top: 26px;
    margin-left: 10px;
}

.contact-me {
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.contact-me:hover {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: .5s;
}

a:link {
    text-decoration: none;
    color: black;
}

.nav-list:hover {
    opacity: 1;
    padding: 15px;
    margin-bottom: 15px;
}

p {
    font-family: "Segoe UI", "Roboto Thin";
    line-height: 23px;
}

div.body {
    margin-left: 50px;
    margin-right: 50px;
}

.web {
    float: left;
    word-spacing: 8px;
    width: 500px;
    max-width: 1000px;
    margin-right: 50px;
}

.web-box {
    border-radius: 25px;
    background-color: #d6b575;
    width: 500px;
    max-width: 1000px;
    height: 400px;
    margin-left: 60px;
    margin-top: 50px;
    padding: 80px;
    display: flex;
}

.paragraph {
    width: 400px;
    max-width: 800px;
    height: auto;
}

.spacy-img {margin-left: 100px;}

.spacey-pg {line-height: 25px;}

.erie-img {
    margin-left: 100px;
    margin-top: 100px ;
}
.spacey-pg {line-height: 25px;}

h2 {
    text-align: center;
    padding: 50px;
}

section.flex {display: flex;}

section.flex div {
    flex:1;
    display:flex;
    flex-direction: column;
}

iframe {border: none;}

section.flex div p {
    width:90%;
    font-size: smaller;
}

.anchor-list:hover {
    margin-left: 7px;
}

.scene-box {
    border-left: 2px solid black;
    padding: 2%;
}

figcaption {
    font-family: "Segoe UI", "Roboto Thin";
    text-align: center;
}

.special-needs-iframe {
    width: 560px;
    height: 315px;
}

.reel {
    display: flex;
    padding-bottom: 10%;
}

.bio {
    margin: 25px;
    width: 40%;
    line-height: 35px;
}

.reel-head {
    background-color: black;
    padding-right: 25px;
    color: white;
}

.profile-img {
    border-radius: 25px;
    width: 50vw;
    height: 60vh;
}

#boats-n-hoes {
    width: 90%;
    line-height: 35px;}

.bio-block {display: block;}

@media all and (max-width: 500px) {

    /*Hamburger Menu Starts*/
    ul {
        margin-right: 15%;
        line-height: 250%;
        padding-left: 5%;
    }

    .ham-nav {color: white;}

    .nav {display: none;}

    .offscreen-menu {
        background-image: url("images/background-imgs/StachFilms-logo.png");
        background-position-x: 50%;
        background-color: black;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        max-width: 450px;
        position: fixed;
        top: 0;
        left: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 1;
    }

    .offscreen-menu.active {
        left: 0;
    }

    .sidebar {
        padding: 1rem;
        display: flex;
        background-color: black;
        width: 150%;
    }

    .ham-menu {
        height: 50px;
        width: 50px;
        margin-right: auto;
        position: relative;
        z-index: 1;
    }

    .ham-menu span {
        height: 5px;
        width: 80%;
        background-color: #E9DCC9;
        position: absolute;
        transform: translate( 50%, 150%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1){
        top: 25%;
    }

    .ham-menu span:nth-child(3){
        top: 50%;
    }


    /*slideshow and rest of page*/

    .profile-img{
        width: 60vw;
        height: auto;
        margin-top: 5%;
        margin-left: 0;
    }

    h2 {
        text-align: left;
        margin-right: 30%;
    }

    .special-needs-iframe {
        width: 50%;
        height: 15%;
    }

    .bio {
        width: 50%;
        margin-left: 0;
    }

    div.body {
        width: 150%;
        margin-left: 15%;
    }

    .heading {display: none;}

    section.flex {
        display: block;
        width: 40%;
    }

    .short-vid {
        width: 90%;
        height: 300px;
    }

    .long-form {
        width: fit-content;
        height: auto;
    }

    .reel {display: block;}

    #boats-n-hoes {width: 50%}
}
