body {
    background-color: #E9DCC9;
    font-family: "Segoe UI Light", "Arial Narrow";
    margin: 0;
    width: fit-content;
}

.nav-icon {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.heading {
    border-bottom: solid;
    display: flex;
    margin-top: 0;
}

.vid {
    padding-bottom: 5%;
    font-size: 1em;
}

#first {
    color: white;
    background-image: url("images/background-imgs/StachFilms-logo.png");
    background-color: black;
    background-repeat: no-repeat;
    height: auto;
    background-size: cover;
    padding-top: 11.7%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 1%;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}



#second {
    margin-left: .7%;
}

.nav {
    display: flex;
    border-bottom: solid;
}

/*.titles {*/
/*    width: 100%;*/
/*    height: auto;*/
/*    !*border: black solid 1px;*!*/
/*    border: none;*/
/*    padding: 25px;*/
/*    scale: 100%;*/
/*    background-color: #E9DCC9;*/
/*    outline: 0;*/
/*    background: none;*/
/*    z-index: 1;*/
/*    cursor: pointer;*/
/*    -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
/*}*/

/*.titles:hover {*/
/*    color: white;*/
/*}*/

/*.titles:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    background-image: url("images/background-imgs/allegheny-forest.jpg");*/
/*    background-size: 80%;*/
/*    background-position-y: -100px;*/
/*    background-repeat: no-repeat;*/
/*    bottom: 0;*/
/*    left: 12%;*/
/*    right: 0;*/
/*    top: 100%;*/
/*    z-index: -1;*/
/*    -webkit-transition: all 150ms cubic-bezier(0.445, 0.050, 0.550, 0.950);*/
/*}*/

/*.titles:hover:before {*/
/*    top: 0;*/
/*}*/

ul {
    display: flex;
    margin: 0;
}

.nav-list {
    display: inline;
    margin: 20px;
    font-size: 15px;
    color: black;
    padding: 10px;
}

.list-contact {
    display: inline;
    margin-top: 20px;
}

.contacts {
    margin-left: auto;
    margin-right: 1%;
}

.linkedin {
    display: inline;
    margin-top: 26px;
    margin-left: 10px;
}

.contact-me {
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.contact-me:hover {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: .5s;
}

a:link {
    text-decoration: none;
    color: black;
}

.nav-list:hover {
    opacity: 1;
    padding: 15px;
    margin-bottom: 15px;
}

p {
    font-family: "Segoe UI", "Arial Narrow";
    line-height: 23px;
}

div.body {
    margin-left: 50px;
    margin-right: 50px;
}

.web {
    float: left;
    word-spacing: 8px;
    width: 500px;
    max-width: 1000px;
    margin-right: 50px;
}

.web-box {
    border-radius: 25px;
    background-color: #d6b575;
    width: 500px;
    max-width: 1000px;
    height: 400px;
    margin-left: 60px;
    margin-top: 50px;
    padding: 80px;
    display: flex;
}

.paragraph {
    width: 400px;
    max-width: 800px;
    height: auto;
}

.spacy-img {
    margin-left: 100px;
}

.spacey-pg {line-height: 25px;}

.about-me {
    border-right: 2px solid black;
    background-image: linear-gradient(to right, grey, #E9DCC9, #E9DCC9 75%);
    line-height: 1.7;
    padding: 2%;
    width: 600px;
    max-width: 1600px;
    height: auto;
    margin-left: 10%;
    margin-top: 100px;
    display: flex;
}

.about-me-pg {
    margin-left: 10%;
    width: 80%;
    height: auto;
}

.erie-img {
    margin-left: 100px;
    margin-top: 100px ;
}
.spacey-pg {line-height: 25px;}

h2 {
    text-align: center;
    padding: 50px;
}

section.flex {display: flex;}

section.flex div {
    flex:1;
    display:flex;
    flex-direction: column;
}

iframe {
    border: none;
}
section.flex div p {
    width:90%;
    font-size: smaller;
}

.resume {
    width: 50%;
    height: 1000px;
    padding-top: 30px;
    border: none;
    margin-left: 370px;
}

.anchor-list:hover {
    margin-left: 7px;
}

section.gallery {
    display: flex;
    padding: 5%;
}

img.insta {
    transition: transform .5s;
    max-width: 250px;
    width: 100%;
    margin: 25px 10px;
}

img[src="wintergreen_media.jpg"] {
    transition: transform .5s;
    float: right;
    max-width: 250px;
    width: 100%;
    margin: 25px 10px;
}

img[src="behind_the_scenes.jpg"] {
    transition: transform .5s;
    max-width: 250px;
    width: 100%;
    margin: 25px 10px;
}

img[src="images/filming-turtle.jpg"] {
    transition: transform .5s;
    max-width: 400px;
    width: 125%;
    margin: 25px 10px;
}
img[src="images/lynne_beaty_BTS.jpg"]{
    transition: transform .5s;
    max-width: 400px;
    width: 150%;
    height: 60%;
    margin: 25px 10px;
}

img.gallery:hover{transform: scale(1.8);}

img.insta:hover {transform: scale(1.8);}

.scene-box {
    border-left: 2px solid black;
    padding: 2%;

}

figcaption {
    font-family: "Segoe UI";
    text-align: center;
}

footer {
    border-top-style: solid;
    padding: 15px;
}

@media all and (max-width: 500px) {

    div.body {
        margin-left: 0;
        margin-right: 0;
    }

    .heading {display: none;}

    section.flex {
        display: block;
    }

}
