body {
    background-color: teal;
}

h1 {
    border-bottom-style: solid;
    border-color: white;
    Background-color: Black;
    color: #dbd5d1;
    padding-top: 15px;
}

iframe {
    width: 50%;
    height: 1000px; 
}