body {
    background-color: #E9DCC9;
    font-family: "Segoe UI Light", "Arial Narrow";
    margin: 0;
}

.nav-icon {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.nav-list {
    display: inline;
    margin: 20px;
    font-size: 15px;
    color: black;
    padding: 10px;
}

ul {
    display: flex;
    margin: 0;
    border-bottom: solid;
    padding: 10px;
}

li {
    display: inline;
    margin: 20px;
    font-size: 15px;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

li:hover {
    opacity: 1;
    padding: 15px;
    margin-bottom: 15px;
}

p {font-family: "Segoe UI", "Arial Narrow";}

div.body {
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    text-align: center;
    padding: 50px;
}

section.flex {display: flex;}

section.flex div {
    flex:1;
    display:flex;
    flex-direction: column;
}

.resume {
    margin-top: 30px;
    margin-left: 100px;
}

iframe {
    border: none;
}
section.flex div p {
    width:90%;
    font-size: smaller;
}

section.gallery {
    display: flex;
}

figcaption {
    font-family: "Segoe UI";
}

footer {
    border-top-style: solid;
    padding: 15px;
}