body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: right;
}

.margin {
    margin-left: 2%;
}

h1 {
    border-bottom-style: solid;
    border-color: white;
    color: #dbd5d1;
    padding-top: 25px;
    font-family: "Agency fb";
}
nav.inset { 
    width: 80%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    display: inline;
    word-spacing: 25px;
}

p.inset { 
    background-color: grey;
    border-color: #D3D3D3;
    border-style: inset;
    height: 25px;
}


h2 {
    font-family: "Agency fb";
    text-align: center;
    padding: 30px;
    color: white;
}

iframe.scripts {
    width: 780px;
    height: 1280px;
    border: none;
}

div.caption {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}

section.notes {
    background-color: grey;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 500px;
    height: 400px;
    padding: 20px;
    font-family: "Courier New";
    border: inset;
    border-color: white;
}

h4 {
    text-align: center;
    font-weight: bold;
}

img {
    width: 500px;
    height: 300px;
    border: solid;
    border-color: black;
}

div.block {
    display: inline-block;
    margin-left: 50px;
}

figcaption {
    color: white;
    text-align: center;
    font-family: "Calibri";
    margin-bottom: 40px;
}