

.anchor-box {
    display: block;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: black;
    width: 300px;
    min-width: 300px;
    height: 600px;
}

#Youtube-head {
    text-align: center;
    margin-top: 20%;
    margin-bottom: 12%;
}

#youtube-button {
    margin-left: 35%;
}

#youtube-button:hover {
    animation: mymove 1s;
}

@keyframes mymove {
    50% {transform: scale(130%);}
}


.page-links-header {text-align: center;}

.anchor-list {
    margin-top: 30px;
    margin-right: 10px;
}

#photography {
    margin-left: 53%;
    margin-bottom: 8%;
    margin-top: 5%;
}

.links-slideshow {display: flex;}

.photo-slideshow {margin-left: 200px;}

.photo {
    width: 620px;
    height: auto;
}

.caption {text-align: center;}

@media all and (max-width: 500px) {

    .links-slideshow {
        display: block;
        width: 100vw;
    }

    .caption {text-align: center}

    .photo {
        width: 90vw;
        height: auto;
    }

    #photography {
        margin-top: 25px;
        margin-left: 33%}

    .photo-slideshow {
        margin-left: 5%;
    }

    .anchor-box {display: none;}
}