body {
    background-image: url("background.jpg");
    background-attachment: fixed;
    background-position: right;
}

.margin {
    margin-left: 2%;
}


h1 {
    border-bottom-style: solid;
    border-color: white;
    color: #dbd5d1;
    padding-top: 25px;
    font-family: "Agency fb";
}
nav.inset { 
    width: 80%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 20px;
    display: inline;
    word-spacing: 25px;
}

p.inset { 
    background-color: grey;
    border-color: #D3D3D3;
    border-style: inset;
    height: 25px;
}

div.body {
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    font-family: "Agency fb";
    text-align: center;
    padding: 30px;
    color: white;
}

section.flex {
    display: flex;
}

section.flex div { 
    flex:1;
    display:flex;
    flex-direction: column;

}

section.flex div p {
    width:90%;
    font-size: smaller;
    color: white;
}

p {
    color: white;
}