.anchor-box {
    display: block;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: black;
    width: 300px;
    min-width: 300px;
    height: 600px;
}

.page-links-header {text-align: center;}

.anchor-list {
    margin-top: 30px;
    margin-right: 10px;
}

#photography {
    margin-left: 30%;
    margin-bottom: 5%;
}

.links-slideshow {display: flex;}

.photo-slideshow {
    margin-left: 200px;
    display: flex;
}

.photo {
    width: 75%;
    height: 50%;
    transition: fadeIn 2s;
}

@keyframes fadeIn {
    100% {opacity: 0}
}
