body {
    background-color: teal;
}

h1 {
    border-bottom-style: solid;
    border-color: white;
    Background-color: Black;
    color: #dbd5d1;
    padding-top: 25px;
}

nav { 
    width: 80%;
    display: inline;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
    word-spacing: 25px;
}
h2 {
    text-align: center;
}
p.inset { 
    background-color: grey;
    border-color: #D3D3D3;
    border-style: inset;
    height: 25px;
}

section.gallery {
    display: flex;
}

img[src="wintergreen_media.jpg"] {
    max-width: 250px;
    width: 100%; 
    box-shadow: 5px 10px; 
    margin: 25px 10px; 
}

img[src="behind_the_scenes.jpg"] {
    max-width: 250px;
    width: 100%;
    box-shadow: 5px 10px; 
    margin: 25px 10px; 
}

img[src="Documentary.JPG"] {
    max-width: 400px;
    width: 125%;
    box-shadow: 5px 10px; 
    margin: 25px 10px; 
}
