body {
    background-color: teal;
}

h2 {
    color: Black;
    text-align: center; 
    padding: 20px;
}

p.inset {
    border-style: inset;
    border-color: #5A5A5A;
    background-color: grey;
    display: inline;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    word-spacing: 25px;
    padding-right: 1200px;
}


section.gallery {
    display: flex;
}

img[src="wintergreen_media.jpg"] {
    max-width: 250px;
    width: 100%; 
    box-shadow: 5px 10px; 
    margin: 25px 10px; 
}

img[src="behind_the_scenes.jpg"] {
    max-width: 250px;
    width: 100%;
    box-shadow: 5px 10px; 
    margin: 25px 10px; 
}

img[src="Documentary.JPG"] {
    max-width: 400px;
    width: 125%;
    box-shadow: 5px 10px; 
    margin: 25px 10px; 
}
