body {
    background-color: #E9DCC9;
    font-family: "Segoe UI Light", "Roboto Thin";
    margin: 0;
}

.offscreen-menu {display: none}

.ham-nav {display: none;}

.nav-icon {
    width: 15px;
    height: auto;
    margin-right: 5px;
}

.heading {
    border-bottom: solid;
    display: flex;
    margin-top: 0;
}

#first {
    color: white;
    background-image: url("images/background-imgs/StachFilms-logo.png");
    background-color: black;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 11.7%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: .5%;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
}

.nav {
    display: flex;
    margin: 0;
    border-bottom: solid;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

.nav-list {
    display: inline;
    margin: 20px;
    font-size: 15px;
    color: black;
    padding: 10px;
}

.contacts {
    margin-left: auto;
    margin-right: 1%;
}

.list-contact {
    display: inline;
    margin-top: 20px;
}

.linkedin {
    display: inline;
    margin-top: 26px;
    margin-left: 10px;
}

.contact-me {
    border: none;
    padding: 10px;
    border-radius: 20px;
}

.contact-me:hover {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    transition: .5s;
}

a:link {
    text-decoration: none;
    color: black;
}

.nav-list:hover {
    opacity: 1;
    padding: 15px;
    margin-bottom: 15px;
}

p {font-family: "Segoe UI", "Arial Narrow";}

div.body {
    margin-left: 50px;
    margin-right: 50px;
}

.web {
    word-spacing: 8px;
    width: 500px;
    max-width: 1000px;
    margin-right: 50px;
}

u {color: white;}

.web-box {
    border-radius: 25px;
    background-image: url("images/fellowships.jpg");
    background-size: 120%;
    background-repeat: no-repeat;
    width: 500px;
    max-width: 1000px;
    height: 400px;
    margin-left: 60px;
    margin-top: 50px;
    padding: 80px;
}

.web-box:hover {
    background-size: 130%;
    transition: 0.3s ease-in-out;
}

.erie-insur {
    border-radius: 25px;
    background-color: #d6b575;
    background-size: 110%;
    background-repeat: no-repeat;
    width: 500px;
    max-width: 1000px;
    height: 400px;
    margin-left: 60px;
    margin-top: 50px;
    padding: 80px;
    display: flex;
}

.paragraph {
    width: 100%;
    height: auto;
}

.spacy-img {
    margin-left: 100px;
}

.spacey-pg {
    line-height: 25px;
    color: white;
}

.erie-img {
    margin-left: 100px;
    margin-top: 100px ;
}
.spacey-pg {line-height: 25px;}

h2 {
    text-align: center;
    padding: 50px;
}

section.flex {display: flex;}

section.flex div {
    flex:1;
    display:flex;
    flex-direction: column;
}

section.flex div p {
    width:90%;
    font-size: smaller;
}

figcaption {
    font-family: "Segoe UI";
}

@media all and (max-width: 500px) {

    /*Hamburger Menu Starts*/
    ul {
        margin-right: 15%;
        line-height: 250%;
        padding-left: 5%;
    }

    .ham-nav {
        display: block;
        color: white
    }

    .nav {display: none;}

    .offscreen-menu {
        background-image: url("images/background-imgs/StachFilms-logo.png");
        background-position-x: 50%;
        background-color: black;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        max-width: 450px;
        position: fixed;
        top: 0;
        left: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 3rem;
        transition: .3s ease;
        z-index: 1;
    }

    .offscreen-menu.active {
        left: 0;
    }

    .sidebar {
        padding: 1rem;
        display: flex;
        background-color: black;
    }

    .ham-menu {
        height: 50px;
        width: 50px;
        margin-right: auto;
        position: relative;
        z-index: 1;
    }

    .ham-menu span {
        height: 5px;
        width: 80%;
        background-color: #E9DCC9;
        position: absolute;
        transform: translate( 50%, 150%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1){
        top: 25%;
    }

    .ham-menu span:nth-child(3){
        top: 50%;
    }

    .contact-me {scale: 200%;}

    .contact-me:hover {
        background-color: white;
        color: black;
    }


    /*slideshow and rest of page*/
    .web {
        padding-left: 0;
        width: 60vw;
    }

    .erie-img {
        margin-left: 0;
        margin-right: 0;
        width: 200%;
        height: auto;
    }

    .spacy-img {
        margin-left: 0;
        width: 200%;
        height: auto;
    }

    .web-box {
        display: block;
        width: 40%;
        height: auto;
        padding: 60px;
    }

    ul {
        list-style-type: none;
        display: block;
    }

    h2 {
        text-align: left;
        margin-right: 30%;
    }

    div.body {
        width: 150%;
        margin-left: 15%;
    }

    .heading {display: none;}


}
